<h1>Listing mails</h1>

<table>
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Title</th>
    <th>Attachement</th>
    <th>Is imported</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mails.each do |mail| %>
  <tr>
    <td><%= mail.to %></td>
    <td><%= mail.from %></td>
    <td><%= mail.title %></td>
    <td><%= mail.attachement %></td>
    <td><%= mail.is_imported %></td>
    <td><%= link_to 'Show', mail %></td>
    <td><%= link_to 'Edit', edit_mail_path(mail) %></td>
    <td><%= link_to 'Destroy', mail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail', new_mail_path %>
