<% @css_files = ['/highslide/highslide.css' ] -%>
<% @js_files  = ['/highslide/highslide-full.js' ] -%>

<script type="text/javascript">
hs.graphicsDir = '/highslide/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.fadeInOut = true;
hs.dimmingOpacity = 0.8;
//hs.outlineType = 'rounded-white';
//hs.captionEval = 'this.thumb.alt'; # use div highslide-caption class
hs.marginBottom = 105; // make room for the thumbstrip and the controls
hs.numberPosition = 'caption';

// Add the slideshow providing the controlbar and the thumbstrip
hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	overlayOptions: {
		className: 'text-controls',
		position: 'bottom center',
		relativeTo: 'viewport',
		offsetY: -60
	},
	thumbstrip: {
		position: 'bottom center',
		mode: 'horizontal',
		relativeTo: 'viewport'
	}
});
</script>

<div class="page-header">
	<h3><%= @target_user.name %> のアルバム
		&nbsp;	<small>写真をアップロードした日付順に表示します</small>
	</h3>
</div>	

<div class="highslide-gallery" style="width: 100%; margin: auto">
<% @photos.each do |photo| -%>
	<div class="photo_thumb_block">
		<div class="photo_thumb_image">
			<a class='highslide' href='/photos/<%= photo.id %>/?data' onclick="return hs.expand(this,{wrapperClassName: 'wide-border', captionOverlay: { position: 'rightpanel'}})">
				<img src="/photos/<%= photo.id %>/?data&scale=160x120" alt="<%= photo.title %>">
			</a>
			<div class="highslide-caption">
				<p><%= photo.title %></p>
				<br>
				
				<!-- コメントフォームここから -->
				<%= form_for(@comment, {:url => '/comments/create_ajax', :remote => true }) do |f| %>
				  <% if @comment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
				
				      <ul>
				      <% @comment.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="field">
				    <%= f.hidden_field :photo_id, {:value => photo.id} %>
				  </div>
				  <div class="field">
				  	コメント投稿<br>
				    <%= f.text_area :comment, {:rows => 3, :id=> "comment-form-"+photo.id.to_s} %>
				  </div>
				  <div class="actions">
				    <%= f.submit '投稿' %>
				  </div>
				<% end %>
				<!-- コメントフォームここまで -->

				<!-- コメント表示域ここから -->
				<ul id="comments-list-<%= photo.id %>">
				<% if !photo.comments.nil? -%>
				<% photo.comments.order('id DESC').each do |comment| -%>
					<li>[<%= comment.user.name %>]<%= comment.comment %></li>
				<% end -%>
				<% end -%>
				</ul>
				<!-- コメント表示域ここまで -->				
			</div>
		</div>
		<span class="photo_thumb_title"><%= truncate(photo.title, {:length => 18}) %></span>
	</div>
<% end -%>
</div>
<br class="clear">

<div class="apple_pagination">
	<%= will_paginate @photos, :class => 'my-pagination' %>
</div>
