<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @photo.id %>
</p>

<p>
  <b>User:</b>
  <%= @photo.user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Content:</b>
  <img src="/photos/<%= @photo.id %>?data&scale=240x180" alt="<%= @photo.title %>">
</p>



<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
