<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'FamFun' %></title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% if @css_files -%>
  <% @css_files.each do |css_file| -%>
  <link rel="stylesheet" type="text/css" href="<%= css_file %>" />
  <% end -%>
  <% end -%>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-dropdown.js"></script>

  <% if @js_files -%>
  <% @js_files.each do |js_file| -%>
  <script type="text/javascript" src="<%= js_file %>"></script>
  <% end -%>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body>
  	<%= render 'shared/header' %>

	<div id="hld">
		<div class="container" style="background-color: white;">
			<%= yield %>
		</div>
	</div>
</body>
</html>
