<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @comment.id %>
</p>

<p>
  <b>Kazoku:</b>
  <%= @comment.kazoku %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Photo:</b>
  <%= @comment.photo %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
